<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brasilcardfacil.www.brasilcardfacil">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".controller.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/brasilcard_icon_notification" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAR-3tFfSUYWXm1jNMh3W1YOItIiE6is9s" />

        <activity
            android:name=".view.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/screen_settings"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AccountActivity"
            android:label="@string/screen_account"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.WebViewPlansActivity"
            android:label="@string/screen_comprar_plano"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.NewUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".view.SignInEmailPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".view.PlansActivity"
            android:label="@string/screen_plans"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CheersPlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".view.FuneralPlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".view.TotalPlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".view.PartnerActivity"
            android:label="@string/screen_partners"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnersMapActivity"
            android:label="@string/screen_partners_map"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.WarningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".view.FavActivity"
            android:label="@string/screen_fav"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.OfferActivity"
            android:label="@string/screen_offers"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.OfferDetailsActivity"
            android:parentActivityName=".view.OfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ActiveHealthActivity"
            android:label="@string/screen_tips"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ActiveHealthDetailsActivity"
            android:parentActivityName=".view.ActiveHealthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerFoodActivity"
            android:label="@string/screen_food"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerArtDesignActivity"
            android:label="@string/screen_art_design"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerAutoActivity"
            android:label="@string/screen_auto"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerBeautyActivity"
            android:label="@string/screen_beauty"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerConsultingActivity"
            android:label="@string/screen_consulting"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerEducationActivity"
            android:label="@string/screen_education"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerSportActivity"
            android:label="@string/screen_sport"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerClothingActivity"
            android:label="@string/screen_clothing"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerEntertainmentActivity"
            android:label="@string/screen_entertainment"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerHomeActivity"
            android:label="@string/screen_home"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PartnerTourismActivity"
            android:label="@string/screen_tourism"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.PartnerHealthActivity"
            android:label="@string/screen_health"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.PartnerTechActivity"
            android:label="@string/screen_tech"
            android:parentActivityName=".view.PartnerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>